---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not found">
  <h1>404</h1>
  <p>uh.. idk where you were trying to go but this sure aint it</p>
  <p>try the links on the top? or contact me if this is supposed to exist</p>
</Layout>
