---
import Layout from "../layouts/Layout.astro";

import WhereAmI from "../components/WhereAmI.astro";
import MiscLinks from "../components/MiscLinks.astro";
import HireMe from "../components/HireMe.astro"

import { HIRE_ME_ENABLED, TAGLINE } from "../constants";
---

<style lang="scss">
  @use "tailwindcss";

  .indent {
    @apply md:px-5;
  }
</style>

<Layout>
  <div class="indent">
    <p class="!mb-4">
      {TAGLINE}
    </p>
    <p class="!mb-4">
      I am neurodivergent (autistic). Highly interested in everything
      computers, servers, and generally technical. I'm also super interested in
      old mechanical equipment and old technology, and everything
      <a
        href="https://youtube.com/@TechnologyConnections"
        rel="noopener noreferrer"
        target="_blank"
        class="underline hover:font-bold"
      >
        Technology Connections</a
      > has posted.
    </p>
    <p>
      I speak both Norwegian and English, but even though I live in Norway and
      Norwegian is my native language, I tend to speak more English
    </p>
  </div>

  {
    HIRE_ME_ENABLED && (
      <div>
        <h2>Interested in hiring me?</h2>
        <div class="indent">
          <HireMe />
        </div>
      </div>
    )
  }

  <div>
    <h2>Where can you find me?</h2>
    <div class="indent">
      <WhereAmI />
    </div>
  </div>

  <div>
    <h2>Misc links</h2>
    <div class="indent">
      <MiscLinks />
    </div>
  </div>
</Layout>
