---
import Layout from "../layouts/Layout.astro";

import HireMe from "../components/HireMe.astro";
import WhereAmI from "../components/WhereAmI.astro";

import { HIRE_ME_ENABLED } from "../constants";
---

<style lang="scss">
  .indent {
    @media (width >= 48rem) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }

  .tagline {
    margin-top: 0;
  }
</style>

<Layout>
  <div class="about">
    <p class="tagline">
      Autistic trans woman (<a
        target="_blank"
        rel="noopener noreferrer"
        href="https://en.pronouns.page/@theS1LV3R">she/her</a
      >), working with DevOps, networks, and systems design, engineering, and
      administration.
    </p>
    <p>
      I am highly interested in everything computers, servers, networking, and
      generally technical. I'm also super interested in old mechanical equipment
      and old technology.
    </p>
  </div>

  {
    HIRE_ME_ENABLED && (
      <section title="Hiring notice">
        <h2>Interested in hiring me?</h2>
        <div class="indent">
          <HireMe />
        </div>
      </section>
    )
  }

  <section title="Contact links">
    <h2>Where can you find me?</h2>
    <div class="indent">
      <WhereAmI />
    </div>
  </section>
</Layout>
