---
import { EIGHTY_EIGHT_THIRTY_ONE_BUTTONS } from "@/constants";
---

<style lang="scss">
  li {
    margin: 2px;
  }

  img {
    width: 88px;
    height: 31px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }

  ul > li {
    list-style-type: none;
  }
</style>

<div id="wrapper">
  <ul title="88x31 buttons">
    {
      EIGHTY_EIGHT_THIRTY_ONE_BUTTONS.map(({ image, target, alt }) => (
        <li>
          <a href={target} target="_blank" rel="noopener noreferrer">
            <img src={image} alt={alt} />
          </a>
        </li>
      ))
    }
  </ul>
</div>
