---
type Button = {
  /** Link to image or file name */
  image: string;
  alt: string;
  target?: string;
};

const buttons: Button[] = [
  {
    image: "https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif",
    alt: "Keep the Web Free, Say No To Web3",
    target: "https://yesterweb.org/no-to-web3/",
  },
  {
    image: "rss.png",
    alt: "RSS Feed",
    target: "/blog/feed.rss",
  },
  {
    image: "not_a_person.png",
    alt: "Not a Person",
    target: "https://voidgoddess.org/emptyspaces/notaperson/",
  },
  {
    image: "pride-transgender.png", // https://qalle.neocities.org/88x31/
    alt: "Transgender flag",
    target: "https://en.pronouns.page/@thes1lv3r",
  },
  {
    image: "best_viewed_with_pepsi.gif",
    alt: "This Site Best Viewed With Pepsi",
  },
  {
    image: "this_machine_kills_fascists.png",
    alt: "This Machine Kills Fascists",
  },
].map((btn) => {
  if (!btn.image.includes("/")) {
    btn.image = `/88x31/${btn.image}`;
  }
  return btn;
});
---

<style lang="scss">
  a {
    margin: 2px;
  }

  img {
    width: 88px;
    height: 31px;
  }

  #wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
</style>

<div id="wrapper">
  {
    buttons.map(({ image, target, alt }) => (
      <a href={target} target="_blank" rel="noopener noreferrer">
        <img src={image} alt={alt} />
      </a>
    ))
  }
</div>
