<div>
  <p>
    I am looking for a job! I have knowledge within networking (Juniper mostly,
    though I have some experience with others), Linux, container orchestration, automation,
    and similar.
  </p>
  <p>
    For more details and my resume, please contact me through any of the below contact
    points. Thanks!
  </p>
</div>
