<section title="Hiring notice">
  <h2>Interested in hiring me?</h2>

  <p>
    I am looking for a job! I have graduated with top grades within IT
    operations, and have a lot of knowledge within systems administration
    (mostly Linux), networking (various vendors), container orchestration,
    automation, virtualization, and so on.
  </p>

  <p>
    For more details and my resume, please contact me through any of the below
    contact points. Thanks!
  </p>
</section>
