---
import { MISC_LINKS } from "../constants";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    MISC_LINKS.map((link) => (
      <a
        href={link.link}
        target="_blank"
        rel={`noopener noreferrer ${link.rel}`}
        class="rounded-md bg-neutral-800 p-3 transition-all hover:bg-neutral-700 hover:shadow-md"
      >
        <h3>
          <span class="mr-[-4px] inline-block pb-[2px] align-middle">
            <link.icon aria-hidden />
          </span>
          {link.title}
        </h3>
        {link.description}
      </a>
    ))
  }
</div>
