---
import { THEME_COLOR } from "../constants"
---

<div
  class:list={[
    `prose prose-neutral prose-invert prose-a:text-[${THEME_COLOR}]`, // Colors
    "!max-w-none", // Sizes
    "font-sans", // Text
    "prose-img:rounded-xl", // Other
  ]}
>
  <slot />
</div>
