---
import { TOC_MAX_NESTED } from "../constants";
import InnerToC from "./InnerToC.astro";
import type { MarkdownHeading } from "astro";

export type NestedHeading = MarkdownHeading & { children: NestedHeading[] };

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter(
  (heading) => heading.depth <= TOC_MAX_NESTED
);
const finalHeadings: NestedHeading[] = generateNestedData(filteredHeadings);

function generateNestedData(input: MarkdownHeading[]): NestedHeading[] {
  const result: NestedHeading[] = [];
  const stack: NestedHeading[] = [];

  input.forEach((item) => {
    const node: NestedHeading = {
      ...JSON.parse(JSON.stringify(item)),
      children: [],
    };

    while (stack.length > 0 && stack[stack.length - 1].depth >= item.depth) {
      stack.pop();
    }

    if (stack.length > 0) {
      stack[stack.length - 1].children.push(node);
    } else {
      result.push(node);
    }

    stack.push(node);
  });

  return result;
}
---

<style lang="scss">
  details {
    margin-top: 0.5rem;
  }
</style>

{
  filteredHeadings.length > 0 && (
    <details>
      <summary>Table of Contents</summary>
      <nav title="Table of contents">
        <ul>
          <InnerToC headings={finalHeadings} />
        </ul>
      </nav>
    </details>
  )
}
