---
import { CONTACT_LINKS } from "../constants";
---

<style lang="scss">
  @use "tailwindcss";

  .button {
    @apply rounded-md bg-neutral-800 p-1 transition-all hover:bg-neutral-700 hover:shadow-md;
  }
</style>

<div class="flex flex-wrap gap-3 items-stretch">
  {
    CONTACT_LINKS.map((link) => (
      <a
        href={link.link}
        title={link.title}
        target="_blank"
        rel="noopener noreferrer"
        class="button grow-1 md:grow-0"
      >
        <span class="inline-block p-[2px] align-middle">
          <link.icon aria-hidden />
        </span>
        {link.title}
      </a>
    ))
  }
</div>
